{% extends 'base.html' %}
{% if user.is_authenticated %}
{% block content %}
    <div class="container-fluid">
        <div>
            <h1>Информация о пациенте</h1>
        </div>
        <!-- Example row of columns -->
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-5">
                    <h2 id="leftColumnHeader">Общие сведения</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Фамилия</td>
                                <td>{{user.last_name}}</td>
                            </tr>
                            <tr>
                                <td>Имя</td>
                                <td>{{user.first_name}}</td>
                            </tr>
                            <tr>
                                <td>Отчество</td>
                                <td>{{user.profile.middle_name}}</td>
                            </tr>
                            <tr>
                                <td>Дата рождения</td>
                                <td>{{user.profile.birthday}}</td>
                            </tr>
                            <tr>
                                <td>Пол</td>
                                <td>{{user.profile.sex}}</td>
                            </tr>
                            <tr>
                                <td>email</td>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                <td>Основной телефон</td>
                                <td>{{user.profile.get_beauty_mobile_phone}}</td>
                            </tr>
                            <tr>
                                <td>Страховой полис</td>
                                <td>{{user.profile.insurance_policy}}</td>
                            </tr>
                            <tr>
                                <td>СНИЛС</td>
                                <td>{{user.profile.SNILS}}</td>
                            </tr>
                            <tr>
                                <td>Паспорт</td>
                                <td>{{user.profile.get_passport}}</td>
                            </tr>
                            <tr>
                                <td>Адрес (по паспорту)</td>
                                <td>{{user.profile.city}}, {{user.profile.region}}, {{user.profile.postcode}}, {{user.profile.street}}, дом №{{user.profile.house}}, квартира {{user.profile.apartment}}</td>
                            </tr>
                            <tr>
                                <td>Профессия</td>
                                <td>{{user.profile.profession}}</td>
                            </tr>
                            <tr>
                                <td>Должность</td>
                                <td>{{user.profile.position}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col col-md-7">
                    <h2>Анамнез</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Перенесенные заболевания</td>
                                <td>
                                    Перенесенные ранее заболевания, существующая хроническая патология со стороны различных органов и систем органов, операции, травмы и т. п. Также изучаются условия жизни пациента.
                                </td>
                            </tr>
                            <tr>
                                <td>Вредные привычки</td>
                                <td>Информация о наличии у пациента вредных пристрастий</td>
                            </tr>
                            <tr>
                                <td>Условия труда и жизни</td>
                                <td>Информация о вредности условий труда и места проживания человека</td>
                            </tr>
                            <tr>
                                <td>Наследственные болезни</td>
                                <td>Наследственные болезни</td>
                            </tr>
                            <tr>
                                <td>Биография</td>
                                <td>Биография</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% endif %}