{% extends 'base.html' %}
{% block javascript_includes %}
<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      language: 'ru',
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:",
      // You can put more options here.

    });
  });
</script>
{% endblock javascript_includes %}
{% block content %}
{% if user.is_authenticated %}
<p>Вы вошли как {{ user.username }}</p>
{% load bootstrap %}
<form action="" method="post">

  {% csrf_token %}
  {{profile_form|bootstrap}}

  <button type="submit">Обновить данные</button>
  <button><a href="/ehr/logout">Выйти</a></button>
</form>
{% endif %}
{% endblock content %}