{% if user.is_authenticated %}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Электронная история болезни</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <style>
        tr td:FIRST-CHILD {
            font-style: italic;
        }

        textarea {
            width: 100%;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Домой <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Расписание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ehr/editprofile">Изменить профиль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ehr/logout">Выйти</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
    </div>
</nav>

<main role="main">
    <div class="container-fluid">
        <div>
            <h1>Информация о пациенте</h1>
        </div>
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-3">
                <h2>Общие сведения</h2>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Фамилия</td>
                        <td>{{user.last_name}}</td>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <td>{{user.first_name}}</td>
                    </tr>
                    <tr>
                        <td>Отчество</td>
                        <td>{{user.profile.middle_name}}</td>
                    </tr>
                    <tr>
                        <td>Дата рождения</td>
                        <td>{{user.profile.birthday}}</td>
                    </tr>
                    <tr>
                        <td>Пол</td>
                        <td>{{user.profile.sex}}</td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td>Основной телефон</td>
                        <td>{{user.profile.get_beauty_mobile_phone}}</td>
                    </tr>
                    <tr>
                        <td>Страховой полис</td>
                        <td>{{user.profile.insurance_policy}}</td>
                    </tr>
                    <tr>
                        <td>СНИЛС</td>
                        <td>{{user.profile.SNILS}}</td>
                    </tr>
                    <tr>
                        <td>Паспорт</td>
                        <td>{{user.profile.get_passport}}</td>
                    </tr>
                    <tr>
                        <td>Адрес (по паспорту)</td>
                        <td>{{user.profile.city}}, {{user.profile.region}}, {{user.profile.postcode}}, {{user.profile.street}}, дом №{{user.profile.house}}, квартира {{user.profile.apartment}}</td>
                    </tr>
                    <tr>
                        <td>Профессия</td>
                        <td>{{user.profile.profession}}</td>
                    </tr>
                    <tr>
                        <td>Должность</td>
                        <td>{{user.profile.position}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-9">
                <h2>Анамнез</h2>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Перенесенные заболевания</td>
                        <td>
                            Перенесенные ранее заболевания, существующая хроническая патология со стороны различных органов и систем органов, операции, травмы и т. п. Также изучаются условия жизни пациента.
                        </td>
                    </tr>
                    <tr>
                        <td>Вредные привычки</td>
                        <td>Информация о наличии у пациента вредных пристрастий</td>
                    </tr>
                    <tr>
                        <td>Условия труда и жизни</td>
                        <td>Информация о вредности условий труда и места проживания человека</td>
                    </tr>
                    <tr>
                        <td>Наследственные болезни</td>
                        <td>Наследственные болезни</td>
                    </tr>
                    <tr>
                        <td>Биография</td>
                        <td>Биография</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
    </div>
</main>

<footer class="container" style="text-align: center">
    <p>© Skorodumov LTD, 2017</p>
</footer>
</body>
</html>
{% endif %}